
.login-header, .login-form {
    margin: 0 auto; 
    width:350px;
}

.login-header {
    margin-bottom: 30px;
}

.container ul {
    list-style: none;
    display: flex;
    border: solid 1px;
}

.container ul li{
    margin-left: 20px;
}

.item-single-title div {
    margin: 10px;
    margin-left: 20px;
}

.item-single-title, .item-single {
    display: flex;
    border: solid 1px;
}

.item-single div {
    margin: 10px;
    margin-left: 20px;
    border: solid 1px;
}

.item-width {
    width: 130px;
}

.item-width-numeric {
    width: 40px;
}

.item-width-scan {
    width: 160px;
}


.item-edit button {
    background-color: orange;
    color: white;
}

.item-delete button {
    background-color: red;
    color: white;
}

.item-update {
    background-color: green;
    color: white;
}

.alert-danger li {
    color: red;
}